name: Code style

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  php-cs-fixer:
    name: Code style

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: 8.1
          extensions: mbstring

      - name: Composer install
        uses: ramsey/composer-install@v3

      - name: Run code standard fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff
